<%= form_with(model: profile) do |f| %>
  <div>
    <%= f.label :name, 'Nome Completo' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :social_name, 'Nome Social' %>
    <%= f.text_field :social_name %>
  </div>
  <div>
    <%= f.label :birth_date, 'Data de Nascimento' %>
    <%= f.date_field :birth_date %>
  </div>
  <div>
    <%= f.label :formation, 'Formação' %>
    <%= f.text_field :formation %>
  </div>
  <div>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :experience, 'Experiência' %>
    <%= f.text_area :experience %>
  </div>

  <%= f.submit 'Salvar' %>
<% end %>