<div class="container-fluid">
  <p class="h2">Perfil do candidato</p>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" >
        <%= @profile.social_name %>
      </h4>
      <br>

      <div class="row">
        <label class="col-sm-2 col-label"><b>Nome:</b></label>
        
        <div class="col-sm-10">
          <%= @profile.name %>
        </div>
      </div>

      <div class="row">
        <label class="col-sm-2 col-label"><b>Nome Social:</b></label>
        
        <div class="col-sm-10">
          <%= @profile.social_name %>
        </div>
      </div>

      <div class="row">
        <label class="col-sm-2 col-label"><b>Data de Nascimento:</b></label>
        
        <div class="col-sm-10">
          <% unless @profile.birth_date.blank? %>
            <%= @profile.birth_date.strftime("%d/%m/%Y") %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <label class="col-sm-2 col-label"><b>Formação:</b></label>
        
        <div class="col-sm-10">
          <%= @profile.formation %>
        </div>
      </div>

      <div class="row">
        <label class="col-sm-2 col-label"><b>Descrição:</b></label>
        
        <div class="col-sm-10">
          <%= @profile.description %>
        </div>
      </div>

      <div class="row">
        <label class="col-sm-2 col-label"><b>Experiência:</b></label>
        
        <div class="col-sm-10">
          <%= @profile.experience %>
        </div>
      </div>
      <br>

      <%= link_to 'Favoritar', profile_bookmark_path(@profile, headhunter_id: current_headhunter.id), method: :post, class: "btn btn-primary" %>
    </div>
    
    <hr class="w-100">
    
    <div class="container-fluid">
      <p class="h4">Comentários</p>

      <div class="col-md-10">
        <% @comments.each do |comment| %>
          <% if comment.headhunter_id == current_headhunter.id %>   
            <div class="md-3">
              <label class="text-muted">Data: <%= comment.updated_at.strftime("%d/%m/%Y %T") %> </label>
              <p><%= comment.body %></p>
              <p><%= link_to 'Deletar', comment_path(comment), method: :delete, data: { confirm: 'Tem certreza?' } %></p>
            </div>
          <% end %>
        <% end %>
        <%= render partial: 'comments/form', locals: { comment: @comment } %>
      </div>
    </div>

  </div>
</div>