<h1>Cadastrar Nova Vaga</h1>

<%= form_with(model: Job.new) do |f| %>
  <div>
    <%= f.label :title, 'Título' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :skills, 'Habilidades Desejadas' %>
    <%= f.text_field :skills %>
  </div>
  <div>
    <%= f.label :salary_range, 'Faixa Salarial' %>
    <%= f.text_field :salary_range %>
  </div>
  <div>
    <%= f.label :level, 'Nível' %>
    <%= f.text_field :level %>
  </div>
  <div>
    <%= f.label :deadline, 'Data Limite' %>
    <%= f.text_field :deadline %>
  </div>
  <div>
    <%= f.label :location, 'Localização' %>
    <%= f.text_field :location %>
  </div>

  <%= f.submit 'Salvar' %>
<% end %>