<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Dragon Mantis', root_path, class: "navbar-brand" %>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <%= link_to current_user.email, edit_user_registration_path, class: "nav-item nav-link" %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
        <% else %>
          <span class="navbar-text border-md-right">
            Cadastre-se
          </span>
          
          <%= link_to "Candidato", new_user_registration_path, class: "nav-item nav-link" %>
          |
          <%= link_to "Headhunter", new_headhunter_registration_path, class: "nav-item nav-link" %>
          <%= link_to "Login", new_user_session_path, class: "nav-item nav-link" %>

        <% end %>        
      </ul>
    </div>
  </div>
</nav>

